body{
    font-family: Roboto, Montserrat;
    background-color: #1F2833 ;
}

.ansvers-container__inputs{
    display: grid;
    min-width: 150px;
    min-height: 200px;
    border: 1px solid rgb(209, 223, 223);
    
}


.styleInp {
    max-width: 150px;
    max-height: 40px;
    margin: 25px 0px 0 25px;
    padding: 5px;
    color: rgb(67, 175, 175);
    border: 2px solid rgb(138, 178, 229);
    border-radius: 5px;

}

input:focus{
    background: rgb(37, 65, 77);
}

.btnStyle{
    max-width: 55px;
    height: 25px;
    margin: 25px 0px 10px 25px;
    color: rgb(67, 175, 175);
    border: 1px solid teal;
    border-radius: 5px;
}

.btnStyle:hover{
    transition: all 0.5s;
    background-color: rgb(178, 214, 211);
    
}


.styleBlockQst{
    max-width: 200px;
    min-height: 30px;
    margin: 25px 0px 10px 25px;
    padding: 5px;
    background-color: rgb(178, 214, 211);
    border-radius: 5px;
    
}

.error{
    background-color: rgb(21, 230, 212);
}
